@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great:300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400);


a {
  color: black;
  text-decoration: none !important;
  padding-top: 1rem;
  padding-left: 1rem;
  display: inline-block;
  position: relative;
  font-family: 'Open+Sans+Condensed', Open Sans Condensed;
}

.name {
  font-family: 'Fredericka+the+Great', Fredericka the Great;
}
/*effect-underline*/
.effect-underline {
  font-size: 2rem;
}
.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/* effect-shine */
.effect-shine {
  font-size: 2rem;
}
.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}


body{
  background-color: #ededed;
}

.App {
  text-align: center;
  align-items: center;
  margin-top: 4%;
}

/* TODO Fix styling */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 45%;
  right: 0;
  /* bottom: 0; */
  margin: auto;
}
.popup_inner {
  position: absolute;
  /* left: 25%; */
  /* right: 25%;
  top: 25%;
  bottom: 25%; */
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.rowComp{
  /* display: flex;
  flex-direction: row;
  width: 50px */
  /* justify-content: space-between; */
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-row-mobile{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-left: 2rem;
}
@media only screen and (max-width: 800px) {
  #modalContainer {
    flex-direction: column;
  }
}
#modalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  overflow: auto
}
#modalContainer img {
  max-width:60%;
  max-height: 60rem;
}

.open-modal-button {
  align-self: flex-end;
  font-size: 20px;
  font-family: 'Open+Sans+Condensed', Open Sans Condensed;
  cursor: pointer;
  margin-bottom: 2px;
}

.open-modal-button:hover {
  -webkit-mask-image: linear-gradient(75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 4s infinite;
  border-bottom: 1px solid black;
  margin-bottom: 1px;
}

.modal-info-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carousel .slide .legend {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -30% !important;
  height: 2;
  width: 60% !important;
  border-radius: 8px !important;
  background: #333 !important;
  color: #fff !important;
  padding: 0px !important;
  font-size: 12px;
  text-align: center;
  opacity: .25;
  -webkit-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out;
}
